
    * {
        font-family: sans-serif;
        margin: 0px;
        padding: 0px;
    }

    body {
        
    }

.div-page {
    display: inline-block;
    width: 99.5%;
    max-width: 1400px;
    margin: 0px ;
    border: 3px solid red;
}

.color-grey {
    color: grey;
}

.header-top-div {
    width: 100%;
    height: 50px;
    display: inline-block;
    background-color: rgb(36, 37, 35);
}

.header-top-ul {
    line-height: 50px;
    float: right ;
    margin: 0px 40px 0px 0px;
    color: white;
    display: inline-block;
    text-decoration: none;
    list-style: none;
    text-align: center;
}

.header-top-ul li {
    width: ;
    line-height: 20px;
    display: inline-block;
    padding: 5px;

}

.header-top-ul li:hover {
    font-weight: bold;
}

.header-top-ul li img {
    width: 19px;
    background-color: white;
    color: white;
    vertical-align: middle;
}

.call-me {
    width: 130px;
    background-color: rgb(103, 143, 61);
    font-size: 13px;
    color: black;
    border-radius: 3px;
    vertical-align: ;
    padding: ;
}

.header-icon {
    margin: 0px 0px 0px 30px;
    display: inline-block;
    list-style: none;
    color: white;
    float: left;
    line-height: 50px;
}

.header-icon li {
    margin: 8px 2px;
    line-height: 35px;
    border-radius: 50%;
    background-color:;
    display: inline-block;
    text-align: center;
    list-style: none;
}

.header-icon li img {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 5px 0px;
}


.tube {
    font-size: 12px ;
    font-weight: lighter;
}

.header-bottom-div {
    min-width: 800px;
}

.header-bottom-div ul {
    display: inline-block;
    float: right;
    list-style: none ;
    line-height: 80px;
    max-height: 80px;
    margin: 0px 35px ;
}

.header-bottom-div ul li {
    margin: 1px;
    text-align: center;
    display: inline-block;
    line-height: 50px;
    padding: 10px;
}

.header-bottom-div ul li a:hover {
    font-weight: bold;
}

.logo-panacloud {
    height: 80px;
    margin: 0px 0px 0px 12px;
}

/*header-closed*/


.portfolio-div-1 {
    border: 1px solid;
    background-color: rgb(115, 143, 61);
    text-align: center;
}

.portfolio-div-1 div {
    margin: 150px 0px 0px 0px;
    text-align: center;
    background-color: rgb(162, 216, 76);
}

.portfolio-div-1-p1 {
    background-color: ;
    color: white;    
    display: inline-block;
    padding: 0px 10px;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
}

.portfolio-div-1-p2 {
    font-size: 18px;
    color: white;
}

.div-1-submit {
    border-radius: 8px;
    font-size: 20px;
    padding: 10px;
    width: 190px;
    background-color: rgb(255, 189, 26);
}

/* 
    2nd Div Started
*/

.portfolio-div-2 {
    border: 3px solid;
    text-align: center;
}

.color {
    color: black;
}


.text-rgb {
    color: rgb(102, 142, 25);
}
.portfolio-div-2-p1 {
    font-weight: bolder;
    font-size: 40px;
}

.portfolio-div-2-p2 {

    color: grey;
}

.table-div2 {
    align-content: center;
    width: 100%;
    margin: 50px 0px;
    padding: 0px 0px;
}

.table-div2 tr td {
}

.bulb {
    margin: 20px 0px;
    width: 90px;
    height: 90px;
    padding: 20px;
    border: 2px solid;
    border-radius: 50%;
}


.div2-tr-last {
    margin: 0px 0px;
    font-size: 14px;
    color: grey;
} 

/*
    div-3 started from here
*/

.portfolio-div-3 {
    background-image: url("images/ocean.jpg") ;
    height: 540px;
    border: 1px solid;
    text-align: center;
}

.portfolio-div-3-p1 {
    border: 2px solid pink;
    display: inline-block;
    font-weight: bolder;
    font-size: 40px;
}

.portfolio-div-3-p2 {
    margin: 30px 60px;
    float: left;
    font-size: 16px;
    display: inline-block;
    text-align: left;
    width: 40%;
}

/* 
    div 4 started from here
*/

.portfolio-div-4 {
    border: 1px solid blue;
    text-align: center;
}

.portfolio-div-4-p1 {
    border: 2px solid pink;
    display: inline-block;
    font-weight: bolder;
    font-size: 40px;
}

.portfolio-div-4-p2 {

    color: grey;
}




